/* Button */
#clear {
	align: center;
}

/* Grid */
#grid {
	max-width: 800px;
	width: 100%;
	display: block;
	margin: 10px auto;
	font-size: 0;
}

/* Pixels */

.pixel {
	margin: 1px;
	display: inline-block;
	background-color: cadetblue;
	display: flex;
	float:left;
	-webkit-transition: background-color .15s;
    transition: background-color .15s;
}